include /includes/mixins

mixin altMenuItem(name, link, icon, label, hint)
    a.listItem(class=name, href=link, title=hint)
        i(class=icon)
        span=label

doctype html
include /includes/art.html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        title= seo.getFullTitle()
        meta(name="description", content=seo.desc)

        link(rel="canonical" href=canonical())

        meta(name="keywords", content=seo.getKeywords().join(', '))

        if (seo.img)
            meta(name="og:image", content=seo.img)

        meta(name="generator", content="DODEM Static Site Generator")
        meta(name="build-time", content=config.buildTime)

        //- Параметры темы
        meta(name="color-scheme", content="")
        meta(name="theme-color", content="")

        //- Иконки сайта
        link(rel="icon", href="/site/graphics/favicon/favicon.svg")
        link(rel="icon", type="image/png", href="/site/graphics/favicon/favicon.png")

        //- Font Awesome
        link(href="/site/vendor/font-awesome/css/all.min.css", rel="stylesheet")

        //- KaTeX
        link(href="/site/vendor/katex/katex.min.css", rel="stylesheet")

        //- Базовая таблица стилей
        link(href="/site/styles/global.css", rel="stylesheet")

        block vendorCSS
        block vendor

        if (hasStyle)
            link(href=`/site/styles/${pageName}.css`, rel="stylesheet")

        block styles
        
        block head

        //- Верификация Yandex
        meta(name="yandex-verification", content="7ff246512ec9d0f4")

        //- Yandex.RTB
        script.
            window.yaContextCb=window.yaContextCb||[]
        script(src="https://yandex.ru/ads/system/context.js", async)

    body(class=bodyClass())
        include /includes/theme

        .bg
            .formulas
            .fog

        .site
            header
                .artLine
                .headerContent
                    a.logo(href="/")
                        .logo-figure
                            include /includes/logo.svg
                        .logo-title Демидович

                    nav
                        a(href="/tasks").nav-item.tasks
                            i.fas.fa-hashtag
                            span Задачи

                        a(href="/book").nav-item.book
                            i.fas.fa-book
                            span Справочник

                        a.nav-item.search
                            i.fas.fa-search
                            span Поиск

                        .nav-item.altMenuContainer
                            i.fas.fa-bars
                            span Меню

                            .altMenu
                                .list
                                    +altMenuItem("donate", "/donaters", "fas fa-hand-holding-usd", "Поддержать")
                                    +altMenuItem("history", "/history", "fas fa-history", "Хронология")
                                    +altMenuItem("solvers", "/solvers", "fas fa-users", "Решатели")
                                    +altMenuItem("problems", "/problems", "fas fa-bug", "Проблемы")

                                .sep
                                
                                .iconList
                                    a.themeSwitcher(onclick="toggleTheme()", title="Переключение цветовой схемы сайта")
                                        i.fas.fa-sun.light
                                        i.fas.fa-moon.dark

                                    a(href="https://bydef.ru", title="Форум", target="_blank")
                                        i.fas.fa-comments

                                    a(href="https://github.com/CMTV/dodem", title="Исходный код сайта", target="_blank")
                                        i.fas.fa-code

                                //- Предотвращение случайного клика при вызове меню на сенсорных экранах
                                .clickPreventer(tabindex="0")
                
                include /includes/search


            main
                .omath
                    header
                        img(src="/site/graphics/omath.svg")
                        .info
                            p Откройте <strong>"Открытую Математику"!</strong>
                            p Понятная теория, конспекты и задачник в одном флаконе!
                        a.goto(href="https://omath.ru")
                            span Заглянуть
                            img(src="/site/graphics/arrow-right.svg")
                    .topics

                    script.
                        let hotTopics = [
                            ['Суммы степеней чисел', 'https://omath.ru/article/applications/sum-of-powers/'],
                        ];

                        let topics = [
                            ['Формулы комбинаторики', 'https://omath.ru/article/combinatorics/formulas'],
                            ['Сочетания',           'https://omath.ru/article/combinatorics/combination'],
                            ['Перестановки',        'https://omath.ru/article/combinatorics/permutation'],
                            ['Размещения',          'https://omath.ru/article/combinatorics/arrangement'],
                            ['Факториал',           'https://omath.ru/article/combinatorics/factorial'],
                            ['Правило умножения',   'https://omath.ru/article/combinatorics/rules/product'],
                            ['Правило сложения',    'https://omath.ru/article/combinatorics/rules/sum'],
                            ['Прямой перебор',      'https://omath.ru/article/combinatorics/brute-force'],
                            ['Комбинаторика',       'https://omath.ru/article/combinatorics/preface'],
                            ['Бином Ньютона',       'https://omath.ru/article/combinatorics/binomial-theorem'],
                        ];

                        function shuffleArray(array) {
                            for (var i = array.length - 1; i > 0; i--) {
                                var j = Math.floor(Math.random() * (i + 1));
                                var temp = array[i];
                                array[i] = array[j];
                                array[j] = temp;
                            }
                        }

                        shuffleArray(topics);

                        function makeTopicElem(topicArr, isHot)
                        {
                            let a = document.createElement('a');
                                a.classList.add('topic');
                                a.setAttribute('href', topicArr[1]);
                                a.innerText = topicArr[0];

                            if (isHot)
                            {
                                a.classList.add('hot');
                                a.setAttribute('title', 'Новинка!');
                                a.innerHTML = '<i class="fas fa-fire"></i>' + a.innerHTML;
                            }

                            return a;
                        }

                        let container = document.querySelector('.omath .topics');

                        hotTopics.forEach(topicArr => {
                            container.appendChild(makeTopicElem(topicArr, true));
                        })

                        topics.slice(0, 4).forEach(topicArr => {
                            container.appendChild(makeTopicElem(topicArr, false));
                        });

                    a.seeAll(href="https://omath.ru") Посмотреть все темы!

                if (location.hasLocation())
                    include /includes/location

                block body

            footer
                .quote
                    blockquote Математика для ученого - то же самое, что скальпель для анатома.
                    a(target="_blank").by Нильс Абель

        block vendorJS

        //- Базовые скрипты сайта
        script(src="/site/scripts/global.js")

        if (hasScript)
            script(src=`/site/scripts/${pageName}.js`)

        block scripts

        //-
        //-
        //-

        //- Yandex счетчик
        include /includes/vendor/yandex.html

        //- Google
        include /includes/vendor/google.html