meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0")

//- ============ Favicons

link(rel="shortcut icon", type="image/x-icon" href="/favicon.ico")
link(rel="icon", type="image/svg+xml", href='/site/graphics/favicons/favicon.svg')
link(rel="icon", type="image/png", href='/site/graphics/favicons/favicon.png')

//- ============ SEO

title= `${seo.title}` + (!seo.isTitleFull ? ' | Демидович. Решения' : '')
meta(name="description", content=seo.desc)
meta(name="keywords", content="демидович,демидович решебник,антидемидович,демидович задачник,демидович решения,демидович ответы,математика,решение,гдз")
meta(name="generator", content=`Static Site Generator "dodem"`)

//- ============ Open Graph

meta(property="og:title", content= `${seo.title}` + (!seo.isTitleFull ? ' | Демидович. Решения' : ''))
meta(property="og:description", content=seo.desc)
meta(property="og:image", content= `${_.url}` + (seo.ogImg ? seo.ogImg : 'site/graphics/og/default.png'))

//- ============ Canonical

link(rel="canonical", href=`${_.url}` + seo.canonical)
meta(property="og:url", content=`${_.url}` + seo.canonical)

//- ============ Vendor

//- KaTeX style
link(rel="stylesheet", href="/site/libs/katex/katex.min.css")

//- Font Awesome
link(rel="stylesheet", href="/site/libs/font-awesome/css/all.min.css")

//- ============ Styles and libs

//- Global style
link(rel="stylesheet", href="/site/styles/global.min.css")

//- Hash
script(src="/site/scripts/hash.js")

//- Search
script(src="/site/scripts/search.min.js")

//- Components
script(src="/site/scripts/components.min.js")

//- // //

block stylesLibs

//- // //

//- ============ SEO

//- Google Tag
script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-155361802-1")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-155361802-1');

//- Yandex WebMaster
meta(name="yandex-verification", content="7ff246512ec9d0f4")

//- ============ Ads

script(data-ad-client="ca-pub-8094912170389944", src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
script(src="/site/scripts/darkMagic.min.js")

//- ============ Misc

//- Yandex Counter
script(async).
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(56922817, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
noscript.
    <div><img src="https://mc.yandex.ru/watch/56922817" style="position:absolute; left:-9999px;" alt="" /></div></noscript>