mixin preloadFont(fontPath)
    link(
        rel="preload",
        href=`/site/fonts/${fontPath}`,
        as="font",
        type="font/ttf",
        crossorigin="anonymous"
    )

mixin style(stylePath)
    link(
        rel="stylesheet"
        href=`/site/styles/${stylePath}`
    )

mixin script(scriptPath)
    script(src=`/site/scripts/${scriptPath}`)

//-
//-
//-

mixin bookPageLink(bookPage)
    a.bookRef(href=bookPage.getLink())
        .type(class='type--' + bookPage.type.className)
            span= bookPage.type.letter
        .info
            .title= bookPage.title
            
            if (bookPage.desc)
                .desc!= bookPage.desc