mixin preloadFont(fontPath)
    link(
        rel="preload",
        href=`/site/fonts/${fontPath}`,
        as="font",
        type="font/ttf",
        crossorigin="anonymous"
    )

mixin style(stylePath)
    link(
        rel="stylesheet"
        href=`/site/styles/${stylePath}`
    )

mixin script(scriptPath)
    script(src=`/site/scripts/${scriptPath}`)

//-
//-
//-

mixin bookPageLink(bookPage)
    a.bookRef(href=bookPage.getLink())
        .type(class='type--' + bookPage.type.className)
            span= bookPage.type.letter
        .info
            .title= bookPage.title
            
            if (bookPage.desc)
                .desc!= bookPage.desc

mixin adsBefore
    +ads(9148242804)

mixin adsAfter
    +ads(4277939948)

mixin ads(slot)
    .darkMagic
        ins.adsbygoogle(
            style="display:block;max-height:300px!important",
            data-ad-client="ca-pub-8094912170389944",
            data-ad-slot=slot
            data-ad-format="horizontal",
            data-full-width-responsive="true"
        )
        script.
            (adsbygoogle = window.adsbygoogle || []).push({});