extends templates/default

include /includes/mixins

block stylesLibs
    link(rel="stylesheet", href="/site/styles/donaters.min.css")

block content
    .contentArea
        a.donate(href="https://boosty.to/dodem")
            i.fas.fa-hand-holding-usd
            span Поддержать

        +pageTitle(null, 'Спонсоры')

        if (donaters.tier1.length != 0 || donaters.tier2.length != 0 || donaters.tier3.length != 0)
            .tiersContainer

                if donaters.tier1.length != 0
                    .tier1
                        .groupSepTop
                            .label Меценаты

                        .donaters
                            
                            each t1Donater in donaters.tier1
                                .contentBlock.donater
                                    .body
                                        +avatar((t1Donater.hasAvatar ? `/site/graphics/donaters/${t1Donater.id}.png` : null), t1Donater.link)
                                        .nameMessage
                                            a.niceUnderline.name(href=t1Donater.link)= t1Donater.name

                                            if t1Donater.message
                                                .message!= t1Donater.message
                                        
                                        if (t1Donater.link)
                                            a.link(href=t1Donater.link, target="_blank")
                                                i.fas.fa-external-link-alt

                        .groupSepBottom
                
                if donaters.tier2.length != 0
                    .tier2
                        .contentBlock.donaters
                            .head
                                .tab
                                    span Соратники
                            .body

                                each t2Donater in donaters.tier2
                                    .li.donater
                                        +avatar((t2Donater.hasAvatar ? `/site/graphics/donaters/${t2Donater.id}.png` : null), t2Donater.link)
                                        a.niceUnderline.name(href=t2Donater.link, target="_blank")= t2Donater.name

                if donaters.tier3.length != 0
                    .tier3
                        .contentBlock.donaters
                            .head
                                .tab
                                    span Помощники
                            .body

                                each t3Donater in donaters.tier3
                                    .li.donater
                                        a.niceUnderline.name(href=t3Donater.link, target="_blank")= t3Donater.name

                if donaters.archive.length != 0
                    .archive
                        .contentBlock.donaters
                            .head 
                                .tab
                                    span(title="Бывшие спонсоры") Память
                            .body
                                each donater in donaters.archive 
                                    .li.donater
                                        span= donater.name
                                        span.tier(title=donater.tier)= '(' + donater.tier[0] + ')'
        else
            .contentBlock.noDonaters
                .body
                    i.far.fa-laugh-wink
                    .message Здесь расположен список спонсоров. <br><a href="https://boosty.to/dodem">Станьте первым!</a>