extends templates/default

include /includes/mixins

block stylesLibs
    link(rel="stylesheet", href="/site/styles/history.min.css")

block content
    +pageTitle('fas fa-history', 'Хронология')

    .contentArea.historyList
        each hItem in history

            .anchor(id=hItem.date)
            .contentBlock.historyItem
                .head
                    .tab
                        a(href=`#${hItem.date}`)= hItem.date
                .body
                    .content
                        p!= hItem.content

                    if hItem.meta.diff
                        .diff
                            if hItem.meta.diff.add
                                .add
                                    i.fas.fa-plus(title="Добавленные задачи")
                                    div
                                        each taskNum in hItem.meta.diff.add
                                            a(href=`/tasks/${taskNum}/`)= taskNum
                            if hItem.meta.diff.edit
                                .edit
                                    i.fas.fa-edit(title="Измененные задачи")
                                    div
                                        each taskNum in hItem.meta.diff.edit
                                            a(href=`/tasks/${taskNum}/`)= taskNum