extends templates/default

mixin navItem(name, icon, title, href, desc)
    a.nav-item(class=name, href=href, title=desc)
        i(class=icon)
        .title #{title}

mixin subNavItem(name, icon, title, href, desc, external = false)
    a.subNav-item(class=name, href=href, title=desc, target=(external ? '_blank' : null))
        i(class=icon)
        .title #{title}

block stylesLibs
    link(rel="stylesheet", href="/site/styles/index.min.css")
    script(src="/site/scripts/luck.min.js")

block content
    nav
        .contentArea
            +navItem('toc', 'fas fa-list-ol', 'Оглавление', '/toc')
            +navItem('proto', 'fas fa-sitemap', 'Прото-задачи', '/proto', 'Полезные теоремы, свойства и формулы')
            +navItem('history', 'fas fa-history', 'Хронология', '/history', 'Новости о решенных задачах и других важных событиях')
            +navItem('luck', 'fas fa-dice', 'Мне повезет!', '', 'Телепортироваться к случайной задаче!')

            .nav-item.subNav
                i.fas.fa-ellipsis-h
                .itemsContainer
                    .arrow
                    .items
                        +subNavItem('solvers', 'fas fa-users', 'Решатели', '/solvers', 'Люди, которые предложили свои решения для задач из задачника')
                        +subNavItem('todo', 'fas fa-bug', 'Проблемы', '/todo', 'Список задач с отсутствующим/неполным решением')
                        .sep
                        +subNavItem('forum', 'fas fa-comments', 'Форум', 'https://bydef.ru', 'Задавайте вопросы и общайтесь!', true)
                        +subNavItem('blog', 'fab fa-vk', 'Блог', 'https://vk.com/do_dem', 'Блог с последними новостями', true)
                        +subNavItem('github', 'fab fa-github', 'GitHub', 'https://github.com/CMTV/dodem', 'Исходный код движка сайта', true)

            +navItem('donate', 'fas fa-hand-holding-usd', 'Поддержать!', '/donate')