extends templates/default

include /includes/mixins

mixin task(num, task)
    .contentBlock.task
        .head
            a.tab.taskNum(href=`/tasks/${num}`, title="К решению")
                i.fas.fa-hashtag
                span= num

            a.tab.goto(href=`/tasks/${num}`, title="К решению")
                i.fas.fa-arrow-right
        .body
            .content!= task

block stylesLibs
    link(rel="stylesheet", href="/site/styles/tocTasks.min.css")

block content
    .contentArea

        .backButton
            a.inner(href=`/toc`)
                i.fas.fa-arrow-left
                span Оглавление

        +pageTitle(null, data.title)

        each taskGroup in data.tasksGroups

            if taskGroup.isGroup
                .tasksGroup
                    .groupSepTop
                    .groupTask!= taskGroup.groupTask
                    .tasks
                        each task in taskGroup.tasks
                            +task(task.num, task.task)
                    .groupSepBottom
            else
                +task(taskGroup.num, taskGroup.task)